<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
</head>
<body>
	{% if aaa %}aaa is True{% endif %}
	{% if bbb %}bbb is True{% endif %}
	<h1>Greetings</h1><br>
	{% for greeting in greetings %}
	{{ greeting.time }}: {{ greeting.message }}<br>
	{% endfor %}
	<h2>Add new greeting</h2>
	<form action= "/add" method="POST">
		<input type="text" name="greeting"><input type="submit" value="add">
	</form>
</body>